src/assets/Asset 2.dtd

<!ELEMENT svg (style,g)>
<!ATTLIST svg version NMTOKEN #REQUIRED>
<!ATTLIST svg id NMTOKEN #REQUIRED>
<!ATTLIST svg x NMTOKEN #REQUIRED>
<!ATTLIST svg y NMTOKEN #REQUIRED>
<!ATTLIST svg viewBox CDATA #REQUIRED>
<!ATTLIST svg style CDATA #REQUIRED>
<!ELEMENT style (#PCDATA)>
<!ATTLIST style type CDATA #REQUIRED>
<!ELEMENT g (g?,text?)>
<!ATTLIST g id NMTOKEN #REQUIRED>
<!ELEMENT text (#PCDATA)>
<!ATTLIST text transform CDATA #REQUIRED>
<!ATTLIST text class CDATA #REQUIRED>